<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <style>
    .line { 
	fill: none;
	stroke: blue;
	stroke-width: 1.5px;
    }
    .x.axis path { display: none; }
    .axis path,
    .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
     }
    </style>
  </head>
  <body>
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="{{ url_for('static', filename='monitor.js') }}"></script>
    <div class="graph"></div>
    <div class="alerts"></div>
  </body>
</html>
