<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <style>
    .line { 
	fill: none;
	stroke: blue;
	stroke-width: 1px;
    }
    .axis path,
    .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
    }
    .axis text {
	font-size: 0.7em;
	font-family: sans-serif;
	font-weight: normal;
	font-color: black;
    }
    .alert { 
	margin: 5px;
	padding:5px;
	background-color: pink; 
    }
    .recovery { 
	margin: 5px;
	padding: 5px;
	background-color: lightgreen; 
    }
    </style>
    <script src="http://d3js.org/d3.v3.js"></script>
    <script>
    function load_graph(width_in, height_in, 
                        seconds_between_samples, 
                        number_of_samples_in_graph,
		        alert_function) {

        var data = [],
            duration = seconds_between_samples * 1000,
            n = number_of_samples_in_graph,
            total_seconds = n * seconds_between_samples,
            now = new Date(Date.now() - duration),
            time_parser = d3.time.format.iso.parse;

        var description = "Load over last ";

        if (total_seconds > 60) {
           description += total_seconds / 60 + 
                          " minutes (polling every " + 
                          seconds_between_samples + " sec)";
        } else {
           description += total_seconds + 
                          " seconds (polling every " + 
                          seconds_between_samples + " sec)";
        }

        var margin = {top: 20,
                      right: 20,
                      bottom: 30,
                      left: 50};

        var width = width_in - margin.left - margin.right;
        var height = height_in - margin.top - margin.bottom;

        var x = d3.time.scale()
            .domain(d3.extent(data, 
			      function (d) { return d.timestamp; }))
            .range([0, width]);
        var y = d3.scale.linear()
            .domain([0, 1])
            .range([height, 0]);

        var line = d3.svg.line().interpolate("basis")
            .x(function (d) { return x(d.timestamp); })
            .y(function (d) { return y(d.load); });

        d3.select("body").append("h4").text(description);

        var svg = d3.select("body").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
	
	//show ticks every 40 pixels
        var x_axis = d3.svg.axis().scale(x).orient("bottom").ticks(width / 40);
        var y_axis = d3.svg.axis().scale(y).orient("left").ticks(height / 40);

        var x_axis_g = svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(x_axis);

        var y_axis_g = svg.append("g")
            .attr("class", "y axis")
            .call(y_axis);

        //used for animation of line
        svg.append("defs")
            .append("clipPath")
            .attr("id","clip")
            .append("rect")
            .attr("width",width)
            .attr("height", height);

        var path = svg.append("g")
            .attr("clip-path", "url(#clip)")
            .append("path")
            .data([data])
            .attr("class","line");

        advance();

        function advance() {
		d3.json("/load.json", function(error, root) {
		    root.timestamp = time_parser(root.timestamp);
		    data.push(root);
		    if (alert_function) {
			alert_function(data);
		    }

		    x.domain(d3.extent(data, 
				       function(d) { return d.timestamp; }));
		    y.domain([0, d3.max(data, 
					function(d) { return d.load; })]);

		    x_axis_g.transition().duration(duration).ease("linear").call(x_axis);
		    y_axis_g.transition().duration(duration).ease("linear").call(y_axis);

		    path.attr("d", line)
			.attr("transform", null)
			.transition()
			.duration(duration)
			.ease("linear")
			.attr("transform", "translate(" + 
			      x(data[0].timestamp - duration) + ")")
			.each("end", advance);

		    if (data.length > n) {
			data.shift();
		    }
		});
	}
    }


    //check is we've crossed the threshold over the lookback period
    //and calls high_load_fn or recovery_fn depending on whether we
    //entered a high load state or came out of it
    function average_load_alert(threshold, lookback, 
				high_load_fn, recovery_fn) {
	var high_load_state = false;
	return function alert_generator(data) {
            if (data.length >= lookback) {
		var data_mean = d3.mean(data.slice(-lookback), 
					function(d) { return d.load; });
		if (high_load_state === true &&
		    data_mean < threshold) {
		    high_load_state = false;
		    recovery_fn(data);
		}
		if (high_load_state === false &&
		    data_mean > threshold) {
		    high_load_state = true;
		    high_load_fn(data);
		}
            }
        };
    }

    function high_load_visual(data) {
	var last_element = data[data.length - 1];
	d3.select(".alerts")
	    .insert("div", ":first-child")
	    .attr("class", "alert")
	    .text("High load generated an alert - load = " + 
		  last_element.load +
		  ", triggered at " +
		  last_element.timestamp);
    }

    function recovery_visual(data) {
	var last_element = data[data.length - 1];
	d3.select(".alerts")
	    .insert("div", ":first-child")
	    .attr("class", "recovery")
	    .text("Recovered from high load period - load = " + 
		  last_element.load +
		  ", triggered at " +
		  last_element.timestamp);
    }   

    //TESTING CODE FOLLOWS
    function high_load_console(data) { console.debug("High Load"); }
    function recovery_console(data) { console.debug("Recovered from high load"); }

    //run this function in the console: test_alert_logic();
    //to see some expected and actual outputs
    function test_alert_logic() {
	var ala_1 = average_load_alert(1, 3, 
				       high_load_console, 
				       recovery_console),
	    ala_10 = average_load_alert(10, 3, 
					high_load_console, 
					recovery_console),
	    data = [],
	    i = 0;

	for (i = 0; i < 10; i++) {
	    data.push({'load': 10,
		       'timestamp': new Date(Date.now())});
        }

	console.debug("Expect: High Load");
	ala_1(data);

	for (i = 0; i < 4; i++) {
	    data.push({'load': 0.9,
		       'timestamp': new Date(Date.now())});
        }

	console.debug("Expect: Recovered");
	ala_1(data);

	for (i = 0; i < 4; i++) {
	    data.push({'load': 1.001,
		       'timestamp': new Date(Date.now())});
	}

	console.debug("Expect: High Load");
	ala_1(data);

	console.debug("Expect: <Nothing>");
	ala_10(data);

	for (i = 0; i < 4; i++) {
	    data.push({'load': 1.001,
		       'timestamp': new Date(Date.now())});
	}
    };
    </script>
  </head>
  <body>

    <script>
    //this code creates all three graphs and adds the load alert logic to one of them

    //poll every 0.25 sec, show 30 sec history
    load_graph(500, 150, 0.25, 120);

    //poll every 1 sec, show 2 min history
    load_graph(500, 150, 1, 120);

    //poll every 10 sec, show 10 min history
    //include load alert function to check for an alert with each update
    load_graph(500, 150, 10, 60,
	       average_load_alert(1, 12,
				  high_load_visual,
				  recovery_visual));
    </script>

    <div class="alerts"></div>
  </body>
</html>
